<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{#card}}{{name}}{{/card}} - 상세 정보</title>
<style>
    .card-image {
        width: 250px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
</style>
</head>
<body>
	{{#card}}
    <img src="{{imageUrl}}" alt="{{name}}" class="card-image">
    <hr>
	<h1>{{name}}</h1>
	<div>타입 : {{type}}</div>
	<div>비용 : {{cost}}</div>
	<div>공격력 : {{attack}}</div>
	<div>체력 : {{health}}</div>
	<div>
		효과 : {{#keywords}} <strong>{{.}}</strong> {{/keywords}} {{#description}}{{description}}{{/description}}
	</div>
	{{/card}}
    <br>
    <a href="/card">목록으로 돌아가기</a>
</body>
</html>